.about-us {
  width: @mobile-content-width;
  .center-margin();
  padding-top: 30px;
  padding-bottom: 55px;
}

.about-us svg {
  display: block;
  margin-bottom: 15px;
  fill: @company-color-light;
}

.about-us__item--flower svg {
  width: 32px;
  height: 37px;
}

.about-us__item--money svg {
  width: 47px;
  height: 27px;
}

.about-us__item--heart svg {
  width: 34px;
  height: 27px;
}

.about-us__item--ball svg {
  width: 35px;
  height: 34px;
}

.about-us__item--rocket svg {
  width: 55px;
  height: 23px;
}

.about-us__item--gift svg {
  width: 33px;
  height: 32px;
}

.about-us__list {
  .list();
  color: @dark;
  .normal-font(17px; 20px; 700);
}

.about-us__item {
  padding-top: 25px;
}

@media (min-width: @tablet-width) {
  .about-us {
    width: @tablet-content-width;
    padding-top: 55px;
    padding-bottom: 80px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about-us__item {
    width: 295px;
    padding-right: 35px;
  }
}

@media (min-width: @tablet-width) {
  .about-us {
    width: 700px;
  }
}
