.button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: @mobile-content-width;
  height: 52px;
  .center-margin();
  text-align: center;
  color: @text-light;
  .normal-font(17px; 20px; 700);
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid @text-light;
  background-color: @light;
}
