.categories__list {
  .list();
}

.categories__item {
  color: #ffffff;
  background-color: #63d1bb;
}

.categories__item:nth-child(2n) {
  background-color: #56c3b2;
}

.categories__link {
  display: flex;
  align-items: center;
  width: 110px;
  height: 103px;
  padding-left: 28px;
  color: #ffffff;
  .normal-font(19px; 24px; 700);
  text-decoration: none;
}
