.goods-week {
  position: relative;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 35px;
  color: @text-light;
  .normal-font(15px; 20px; 400);
}

.goods-week::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 6px;
  background-image: url("../img/zigzag-part-desktop.svg");
  background-position: center;
  background-size: 15px 6px;
  background-repeat: repeat-x;
  overflow: hidden;
}

.goods-week__title {
  width: @mobile-content-width;
  .center-margin();
}

.goods-week__mark {
  margin-top: 7px;
  margin-bottom: 25px;
  color: @company-color-light;
  text-transform: uppercase;
}

.goods-week__mark br {
  display: none;
}

.goods-week__info {
  width: @mobile-content-width;
  .center-margin();
}

.goods-week__description {
  margin: 0 0 30px 0;
  padding: 0;
  line-height: 24px;
}

.goods-week__characteristics {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 25px;
}

.goods-week__characteristics td {
  border-bottom: 1px solid @goods-week-table;
}

.goods-week__field {
  padding-top: 7px;
  padding-right: 20px;
  padding-bottom: 7px;
}

.goods-week__info picture {
  width: 260px;
  height: 315px;
}

.goods-week__image {
  width: 260px;
  height: 315px;
  margin-bottom: 20px;
}


.goods-week__price {
  margin: 0 0 25px 0;
  padding: 0;
  text-align: center;
  .normal-font(17px; 24px; 700);
}

.goods-week__order {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .goods-week {
    width: 100%;
    padding-bottom: 50px;
  }

  .goods-week::after {
    height: 16px;
    background-size: 40px 16px;
  }

  .goods-week__title {
    width: @tablet-content-width;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
  }

  .goods-week__mark {
    margin: 0 0 0 auto;
    padding: 0;
    line-height: 17px;
  }

  .goods-week__mark br {
    display: inline;
  }

  .goods-week__info {
    position: relative;
    box-sizing: border-box;
    width: @tablet-content-width;
    padding-right: 375px;
  }

  .goods-week__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 50px;
  }

  .goods-week__characteristics {
    margin-bottom: 55px;
  }

  .goods-week__field {
    padding-right: 0;
  }

  .goods-week__price {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 24px;
  }

  .goods-week__info picture {
    position: absolute;
    top: 0;
    right: 0;
    width: 333px;
    height: 404px;
  }

  .goods-week__image {
    width: 333px;
    height: 404px;
  }
}

@media (min-width: @desktop-width) {
  .goods-week {
    box-sizing: border-box;
    position: relative;
    width: @desktop-content-width;
    .center-margin();
    padding-top: 55px;
    padding-bottom: 70px;
  }

  .goods-week::after {
    height: 23px;
    background-size: 55px 23px;
  }

  .goods-week__title {
    width: @desktop-content-width;
  }

  .goods-week__mark {
    width: 175px;
    margin: 0;
    text-align: center;
    order: -1;
  }

  .goods-week__info {
    position: static;
    width: 465px;
    margin: 0;
    padding-left: 175px;
    padding-right: 0;
  }

  .goods-week__info picture {
    top: 0;
    right: 0;
    z-index: -1;
    width: 525px;
    height: 636px;
  }

  .goods-week__image {
    width: 525px;
    height: 636px;
  }

  .goods-week__description {
    margin-bottom: 65px;
  }

  .goods-week__characteristics {
    margin-bottom: 110px;
  }
}
