.goods__title {
  display: flex;
  min-height: 177px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #efefef;
}

.goods__list {
  .list();
  padding-left: 30px;
  padding-right: 30px;
}

.goods__item {
  border: 1px solid #ececec;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
