.goods__list {
  width: @mobile-content-width;
  .list();
  .center-margin();
}

.goods__item {
  border: 1px solid @goods-border;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.goods__item:hover,
.goods__item:focus {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.goods__item:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

@media (min-width: @tablet-width) {
  .goods__item {
    margin-bottom: 54px;
  }
}

@media (min-width: @desktop-width) {
  .goods__list {
    display: flex;
    justify-content: space-between;
  }
}
