.intro {
  background-color: @header-bg;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 18%;
}

.intro__title {
  height: 283px;
  padding: 73px 35px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  background-image: url("../img/hero-mobile@1x.jpg");
}

@media (min-width: @desktop-width) {
  background-image: url("../img/hero-mobile@1x.jpg");
}
