.menu-list {
  .list();
}

.menu-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79px;
  color: @text-main;
  .normal-font();
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0 1px 0 @goods-border, inset 0 1px 0 @goods-border;
}
