.modal-cart {
  width: @mobile-content-width;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 35px 30px 45px 30px;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  border: 1px solid @modal-border;

  &--close {
    display: none;
  }
}

.modal-cart__title {
  width: 99%;
  text-align: center;
  text-transform: uppercase;
}

.modal-cart__text {
  width: 99%;
  text-align: center;
  color: @text-light;
  .normal-font(15px; 30px; 400);
  .center-margin();
}

.modal-cart__radio {
  width: 82px;
  height: 52px;
  margin: 0;
  border: 2px solid fade(@text-light, 10);
}

.modal-cart__add {
  width: @mobile-content-width;
  height: 52px;
  color: @light;
  border: none;
  background-color: @company-color-light;
}
