.order {
  padding-bottom: 50px;
  .normal-font(17px; 17px; 700);
}

.order__description {
  margin-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .order {
    font-size: 19px;
    line-height: 19px;
  }

  .order__description {
    width: @tablet-content-width;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 50px;
  }
}
