.page {
  margin: 0;
}

.page__wrapper {
  padding-left: 9.37vw;
  padding-right: 9.37vw;
}

.page__title-h1 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  .normal-font(27px; 30px; 700);
}

.page__title-h2 {
  margin: 0;
  padding: 0;
  color: #000000;
  .normal-font(25px; 30px; 700);
}

.page__title-h3 {
  margin: 0;
  padding: 0;
  .normal-font(17px; 20px; 700);
}
