.page-footer {
  background-color: @title-bg;
}

.page-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 143px;
  }

  .page-footer__logo {
    display: block;
  }
}
