.product__link {
  display: block;
}

.product__image {
  margin-bottom: 25px;
}

.product__title {
  color: @text-main;
  padding-left: 28px;
  padding-bottom: 1px;
  .normal-font(17px; 24px; 700);
  text-decoration: none;
}

.product__description {
  margin: 0 28px 20px 28px;
  padding-bottom: 20px;
  color: @text-light;
  .normal-font(13px; 30px; 400);
  border-bottom: 1px solid @goods-week-table;
}

.product__price {
  margin: 0;
  padding-left: 28px;
  .normal-font(15px; 24px; 700);
}
