.production {
  width: 260px;
  margin-left: 9.37vw;
  margin-right: 9.37vw;
  margin-bottom: 55px;
  padding-bottom: 33px;
  border: 1px solid #eaeaea;
}

.production__title {
  padding: 25px 0 25px 90px;
  .normal-font(17px; 24px; 700);
}

.production__description {
  padding: 30px 0 25px 34px;
}

.production__order {
  width: 192px;
  height: 52px;
}
