.product__link {
  display: block;
}

.product__image {
  width: 260px;
  height: 195px;
  margin-bottom: 25px;
}

.product__title {
  color: @text-main;
  margin-left: 28px;
  padding-bottom: 1px;
  .normal-font(17px; 24px; 700);
  text-decoration: none;
}

.product__description {
  margin: 0 28px 20px 28px;
  color: @text-light;
  .normal-font(13px; 30px; 400);
}

.product__buy {
  display: flex;
  min-height: 72px;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px 0 28px;
  color: @dark;
  .normal-font(15px; 24px; 700);
  text-decoration: none;
  border-top: 1px solid @goods-week-table;
}

.product__price {
  padding: 0;
  margin: 0;
}

.product__buy svg {
  width: 21px;
  height: 18px;
  fill: @dark;
}

.product__buy:hover svg,
.product__buy:focus svg {
  fill: @company-color-light;
  filter: opacity(1);
}

.product__buy:active svg {
  filter: opacity(0.3);
}

@media (min-width: @tablet-width) {
  .product {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 334px;
    padding-top: 25px;
    padding-left: 334px;
  }

  .product__link--img {
    position: absolute;
    top: 0;
    left: 0;
    width: 334px;
    height: 334px;
  }

  .product__image {
    width: 334px;
    height: 334px;
  }

  .product__title {
    font-size: 20px;
  }

  .product__description {
    font-size: 15px;
    line-height: 30px;
  }

  .product__price {
    font-size: 17px;
  }

  .product__buy {
    margin-top: auto;
  }
}

@media (min-width: @desktop-width) {
  .product {
    width: 316px;
    padding: 0 0 0 0;
    margin-bottom: 57px;
  }

  .product__link--img {
    position: static;
    width: 316px;
    height: 462px;
    margin-bottom: 25px;
  }

  .product__image {
    width: 316px;
    height: 462px;
  }
}
