.reviews {
  position: relative;
  width: 100%;
  .center-margin();
  padding-bottom: 45px;
}

.reviews::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 6px;
  background-image: url("../img/zigzag-part-desktop.svg");
  background-position: center;
  overflow: hidden;
}

.reviews__title {
  width: @mobile-content-width;
  .center-margin();
  padding-bottom: 35px;
}

.reviews__item {
  width: @mobile-content-width;
  .center-margin();
  padding: 0;
}

.reviews__text {
  margin: 0;
  padding: 0 0 35px 0;
  .normal-font(15px; 30px; 400);
}

.reviews__author {
  display: block;
  margin-bottom: 30px;
  color: @text-main;
  .normal-font(17px; 24px; 700);
}

.reviews__account {
  display: block;
  color: @text-light;
  .normal-font(17px; 30px; 400);
}

.reviews__toggles {
  display: flex;
  flex-wrap: wrap;
  width: @mobile-content-width;
  .center-margin();
  margin-bottom: 35px;
}

.reviews__button {
  width: 130px;
  height: 52px;
  border: 1px solid @goods-border;
  background-color: @light;
}

.reviews__button:nth-child(2n) {
  border-left: none;
}

.reviews__button--prev {
  margin-left: auto;
}

.reviews__button--next {
  margin-right: auto;
}

@media (min-width: @tablet-width) {
  .reviews {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: @tablet-width;
    max-width: 100%;
    .center-margin();
    padding-top: 80px;
    padding-bottom: 120px;
    padding-left: 47px;
    padding-right: 47px;
    margin-bottom: 65px;
    background-image: url("../img/review@1x.jpg");
    .retina-bg("../img/review@2x.jpg"; 350px; 457px);
    background-position: 0% 0%;
    background-repeat: no-repeat;
  }

  .reviews::after {
    width: 100%;
    height: 16px;
    left: 0;
    background-position: center;
    overflow: hidden;
  }

  .reviews__title {
    width: 440px;
    margin-left: 0;
    margin-right: auto;
    padding-bottom: 60px;
    order: -2;
  }

  .reviews__item {
    width: @tablet-content-width;
    .center-margin();
  }

  .reviews__text {
    font-size: 17px;
    padding-bottom: 65px;
  }

  .reviews__author {
    font-size: 18px;
    margin-bottom: 0;
  }

  .reviews__write {
    width: 175px;
    height: 52px;
    margin-right: 0;
    order: -1;
  }

  .reviews__toggles {
    position: absolute;
    bottom: 120px; // reviews padding-bottom
    right: @wrapper-t;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: @desktop-content-width;
    padding-left: 174px;
    padding-right: 0;
  }

  .reviews__title,
  .reviews__item {
    margin-left: 0;
  }
}
