.reviews {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 45px;
}

.reviews__title {
  padding-bottom: 35px;
}

.reviews__item {
  padding: 0;
  margin: 0;
}

.reviews__text {
  margin: 0;
  padding: 0 0 35px 0;
  .normal-font(15px; 30px; 400);
}

.reviews__author {
  display: block;
  margin-bottom: 30px;
  .normal-font(17px; 30px; 700);
}

.reviews__account {
  display: block;
  font-weight: 400;
}

.reviews__button {
  width: 40.6vw;
  height: 52px;
  margin-bottom: 35px;
  border: 1px solid @goods-border;
  background-color: @light;
}

.reviews__button:nth-child(2n) {
  border-left: none;
}
